.signup-form {
  display: grid;
  place-items: center;
}

.signup-form>form {
  display: flex;
  flex-direction: column;
}

.signup-form>form>label {
  margin: 10px 0;
}

.signup-form>form>input {
  height: 40px;
  width: 200px;
}

.signup-form>form>button {
  margin: 20px 0;
  height: 30px;
}