.form-control-error>input {
  border-color:red;
}

.form-control-error {
  margin: 1rem 0;
}

.form-control-error label,
.form-control-error input,
.form-control-error textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control-error input,
.form-control-error textarea {
  font: inherit;
  border-radius: 2px;
}

.form-control-error input:focus,
.form-control-error textarea:focus {
  outline-color: #00695c;
}