.signup-form-container {
  display: grid;
  place-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  margin: 40px;
  padding: 10px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-control>input {
  width: 500px;
  border-radius: 3px;
  height: 30px;
  margin: 10px 0;
}

.signup-btn {
  width: 80px;
  background-color: purple;
  color: white;
  cursor: pointer;
  border: none;
  height: 25px;
}

.signup-btn:hover {
  color: orange;
}