.modal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: #fff;
  border-radius: 3px;
}

.modal-header, .modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: column;
}

.form-control {
  display: flex;
  overflow: hidden;
}

.modal-footer {
  float: right;
}

.modal-footer>button {
  margin-left: 10px;
  width: 80px;
  height: 25px;
}

.modal-body>label, input, textarea {
  margin: 5px 0px;
}

.modal-body>input {
  height: 30px;
  border-radius: 3px;
}

.modal-body>textarea {
  border-radius: 3px;
}